extends layout.pug

block content
  .row.mt-5
    .col-md-10.m-auto
      .card.card-body.text-center
        h1 SmokerPi
          br
          img(src="/images/grill.png", alt="")
        p Create an account or login
        a.btn.btn-primary.btn-block.mb-2(href='/users/register') Register
        a.btn.btn-secondary.btn-block(href='/users/login') Login
